

#square {
  display: relative;
  background-color: #39CCCC;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);

  top: 50%; 
  left: 50%;
}

#circle {
    display: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;

    border: 2px solid #001f3f;
  }

#point {
    display: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;

    border: 2px solid #ff0000;
}